html,body{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    color: #222
}
.navbar{
    padding: .8rem;
}
.navbar-nav{
    padding-right: 20px;
}
.navlink{
    font-size: 1.1em !important;
}
.carousel-inner img{
    width: 100%;
    height: 100%;
}
.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #0000;
}
.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #0000;
    padding-bottom: 1rem;
}
.btn-primary{
    background-color: #e6e;
    border: 1px solid #222
}
.btn-primary:hover{
    background-color: #e6e8;
    border: 1px solid #8765
}
.padding{
    padding-bottom: 2rem;
}
.welcome{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.welcome hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}
.fa-code {
    color: #e54d26;
}
.fa-bold {
    color: #563d7c;
}
.fa-css3 {
    color: #2163af;
}
.fa-code,.fa-bold,.fa-css3{
    font-size: 4em;
    margin: 1rem;
}
